body {
    line-height: 1.4;
    font-family: 'Titillium Web', sans-serif;
}
.header-area {
    background: #1f2532;
}
.ml-auto {
	margin-left: auto;
}
.navbar-brand {
	height: auto;
	padding: 8px 0;
}
.nav-link.active {
	color: white;
}
.nav-link {
    color: #707d8f;
	font-size: 15px;
	line-height: 26px;
	padding: 20px 15px !important;
    transition: .4s;
}
.dropdown-item {
	padding: 8px 15px;
	color: white;
	font-size: 13px;
	transition: .4s;
}
.dropdown-menu.show {
	background: black;
	display: block;
}
.dropdown-item:hover {
    background: black;
    color: #f0326b;
}
li.active a {
	color: white;
    transition: .4s;
}
li.active a:hover {
    color: #f0326b;
}
.nav-link:hover {
    color: #f0326b;
}
.nav-link:focus {
    color: #f0326b;
}
.nav-link.active {
	color: white;
}
li.active1 a {
    transition: .4s;
}
li.active1 a:hover {
    color: #f0326b;
}

/* header area end */
/* portfolio1 area start */

.single-page-header {
	background: #1f2532;
	padding: 50px 0;
	text-align: center;
	color: #fff;
	position: relative;
}
.single-page-header h2 {
    font-weight: 600;
}
.single-page-header .breadcrumb {
	background: transparent;
	display: inline-block;
    padding: .75rem 1rem;
}
.single-page-header .breadcrumb li {
	display: inline-block;
}
.single-page-header .breadcrumb li a {
	color: #f0326b;
    text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item::before {
	display: inline-block;
	padding-right: .5rem;
	color: #6c757d;
	content: "/";
}

/* portfolio1 area end */
/* portfolio area start */

.portfolio-area {
	padding: 100px 0;
	display: block;
}
.title1 {
	padding-bottom: 50px;
}
.title1 h4 {
	font-size: 10px;
	line-height: 10px;
	font-weight: 700;
	letter-spacing: 3.3px;
	text-transform: uppercase;
}
.title1 h2 {
	font-size: 35px;
	color: #232323;
	text-transform: capitalize;
	margin-bottom: 8px;
	font-weight: 700;
}
.title1 .border {
	display: inline-block;
	border-radius: 3px;
	height: 6px;
	position: relative;
	width: 90px;
	margin-bottom: 10px;
	background-image: linear-gradient(100deg, #f9643d, #fe2a77);
}
.title1 p {
	color: #848484;
	margin: 0 auto;
    font-size: 15px;
}
.portfolio-filter {
	margin-bottom: 40px;
	text-align: center;
}
.portfolio-filter button.mixitup-control-active {
	border-bottom: 2px solid #f0326b;
	color: #000;
}
.portfolio-filter button {
	font-weight: 500;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	margin: 0 10px;
	padding: 8px 5px;
	font-weight: 600;
	text-transform: uppercase;
	border: none;
	color: #777;
	outline: none;
	background: none;
    transition: .1s;
}
.portfolio-filter button:hover {
	border-bottom: 2px solid #f0326b;
	color: #000;
}
.portfolio-block {
	position: relative;
	transition: .3s all;
	overflow: hidden;
}
.portfolio-block::before {
	content: '';
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(240, 50, 107, 0.9);
	transition: .3s all;
}
.portfolio-block .caption {
	position: absolute;
	bottom: 10%;
	left: 10%;
	opacity: 0;
	z-index: 9;
	transition: all 0.3s ease-in-out;
}
.portfolio-block .caption .search-icon {
	background: #f0326b;
	color: #fff;
	display: inline-block;
	padding: 4px 13px;
	font-size: 25px;
	border-radius: 30px;
	opacity: 0;
    text-decoration: none;
}
.portfolio-block .caption h4 {
	font-size: 20px;
	font-weight: 700;
}
.portfolio-block .caption h4 a {
	color: #fff;
    text-decoration: none;
}
.padding-0 {
	padding: 0;
}
.portfolio-block:hover::before {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
.portfolio-block:hover .caption {
	opacity: 1;
}
.portfolio-block:hover .caption .search-icon {
	opacity: 1;
}

/* portfolio area end */
/* section area start */

.section-area {
	background: #f3f3f3;
	padding: 100px 0;
	display: block;
}
.title {
	padding-bottom: 50px;
}
.title h4 {
	font-size: 10px;
	line-height: 10px;
	font-weight: 700;
	letter-spacing: 3.3px;
	text-transform: uppercase;
}
.title h2 {
	font-size: 35px;
	color: #232323;
	text-transform: capitalize;
	margin-bottom: 8px;
	font-weight: 700;
}
.title .border {
	display: inline-block;
	border-radius: 3px;
	height: 6px;
	position: relative;
	width: 90px;
	margin-bottom: 10px;
	background-image: linear-gradient(100deg, #f9643d, #fe2a77);
}
.title p {
	color: #848484;
	width: 50%;
	margin: 0 auto;
    font-size: 15px;
}
.service-item {
	position: relative;
	background: #fff;
	border: 1px solid #eaeaea;
	padding: 50px 20px;
	margin-right: -1px;
	margin-bottom: -1px;
	transition: all 0.3s ease 0s;
}
.service-item .count {
	font-size: 80px;
	top: 0;
	left: 20px;
	color: #e3e1e1;
	font-weight: 700;
	position: absolute;
}
.service-item i {
	font-size: 30px;
	display: inline-block;
	border-radius: 30px;
	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
	color: #fff;
	height: 55px;
	line-height: 55px;
	margin-bottom: 20px;
	width: 55px;
	transition: all 0.3s ease 0s;
    background-image: linear-gradient(100deg, #f9643d, #fe2a77);
}
.service-item h4 {
    font-weight: 600;
}
.service-item p {
	color: #9a9a9a;
	font-size: 15px;
}

/* section area end */
/* testimonial area start */

.testimonial-area {
	background: #f0326b;
	padding: 100px 0 50px 0;
	display: block;
}
.testimonial-area .item i {
	font-size: 40px;
	color: #fff;
	margin-bottom: 30px;
	display: inline-block;
}
.testimonial-area .item .client-details {
	padding-bottom: 30px;
}
.testimonial-area .item .client-details p {
	font-size: 17px;
	color: #fff;
	font-weight: 200;
	padding: 0 9%;
}
.testimonial-area .item .client-meta {
	margin-top: 8px;
	color: #fff;
}
.testimonial-area .item .client-meta h4 {
	margin-bottom: 4px;
	font-weight: 600;
}
.testimonial-area .item .client-meta span {
	font-size: 12px;
}
.testimonial-area .item .client-thumb img {
	display: inline-block;
	border-radius: 100%;
	width: 90px;
	height: auto;
}
.item {
	padding-bottom: 50px;
}

/* testimonial area end */
/* footer area start */

.top-footer {
	background-color: #222222;
	border-top: 1px solid #404040;
	padding: 100px 0 80px;
}
.top-footer h3 {
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.top-footer p {
	font-size: 13px;
	line-height: 30px;
	color: #bdbdbd;
	font-weight: 300;
	padding-right: 20px;
}
.top-footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.top-footer li a {
	font-size: 13px;
	line-height: 30px;
	color: #bdbdbd;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: capitalize;
	transition: .3s;
	font-family: "Titillium Web", sans-serif;
	display: block;
	text-decoration: none;
}
.top-footer li a:hover {
	color: #f0326b;
}
.form-group {
	margin-bottom: 1rem;
}
.subscribe-form .form-control {
	border-radius: 0;
}
.btn-main, .btn-main-sm {
	background-color: #21D6BF;
	background-image: linear-gradient(100deg, #f9643d, #fe2a77);
	color: #fff;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 10px 40px;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 2px;
	cursor: pointer;
}
.btn:hover {
    color: white;
}
.btn:focus {
    box-shadow: none;
}
.btn-main-sm {
	padding: 8px 20px;
	font-size: 12px;
}
.footer-bottom {
	text-align: center;
	background-color: #1b1b1b;
	border-top: 1px solid #2c2c2c;
	padding: 30px 0;
}
.footer-bottom h5 {
	font-size: 12px;
	line-height: 1;
	color: #888888;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 7px;
	margin-bottom: 3px;
}
.footer-bottom h6 {
	font-size: 11px;
	line-height: 15px;
	color: #888888;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 2px;
	margin-bottom: 0;
}
.footer-bottom a {
	color: #f0326b;
	text-decoration: none;
}

/* footer area end */
